<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}"></html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

<div class="container">
  <h2>Filterable Table</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Subject..">
  <input class="form-control" id="myInput" type="text" placeholder="State..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Grade Level</th>
        <th>Subject</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Kindergarten</td>
        <td>Math</td>
        <th>Georgia</th>
      </tr>
      <tr>
        <td>kindergarten</td>
        <td>English</td>
        <th>Indiana</th>
      </tr>
      <tr>
        <td>kindergarten</td>
        <td>Science</td>
        <th>Indiana</th>
      </tr>
      <tr>
        <td>kindergarten</td>
        <td>Social Studies</td>
        <th>Indiana</th>
      </tr>
    </tbody>
  </table>
  
  <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
