<!DOCTYPE html>
<html>
<head>
  <title>S2S</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #DE762B;}
  #section2 {padding-top:50px;height:700px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:700px;color: #fff; background-color: #1E88E5;}
  #section4 {padding-top:50px;height:700px;color: #fff; background-color: #00bcd4;}
  #section5 {padding-top:50px;height:700px;color: #fff; background-color: #009688;}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://sos-test-app.herokuapp.com/">S2S</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Welcome</a></li>
          <li><a href="#section2">Math</a></li>
          <li><a href="#section3">Science</a></li>
          <li><a href="#section4">Social Studies</a></li>
          <li><a href="#section5">English</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>    


<div id="section1" class="jumbotron text-center">
  </a>
  <a href="/" class="lang-logo">
    <img src="/lang-logo.png" style="width:200px;height:200px">
  </a>
  <h1>Welcome to the Elementary Student/ Parent Portal!</h1>
  <p>Please Select a Subject label in the navigation bar.</p>
</div>
<div id="section2" class="container-fluid">
  <div class="container">
    <h2>Math</h2>
    <p>Please Select a grade level to view the standards!</p>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#scik">Kindergarten</a></li>
      <li><a data-toggle="tab" href="#mat1">First</a></li>
      <li><a data-toggle="tab" href="#mat2">Second</a></li>
      <li><a data-toggle="tab" href="#mat3">Third</a></li>
      <li><a data-toggle="tab" href="#mat4">Fourth</a></li>
      <li><a data-toggle="tab" href="#mat5">Fifth</a></li>
      <li><a data-toggle="tab" href="#mat6">Sixth</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="matk" class="tab-pane fade in active">
        <h3>Math</h3>
        <b>K.NS.1 Count to at least 100 by ones and tens and count on by one from any number.</b>
        <p>Count up - up to 20 (K-D.7)</p>
        <p>Count forward - up to 20 (K-D.12)</p>
        <p>Count blocks - up to 20 (K-D.16)</p>
        <p>Count tens and ones - up to 20 (K-D.17)</p>
        <p>Count on ten frames - up to 30 (K-E.1)</p>
        <p>Count groups of ten (K-E.2)</p>
        <p>Count to 100 (K-E.3)</p>
        <p>Count blocks - up to 30 (K-E.6)</p>
        <p>Count tens and ones - up to 30 (K-E.7)</p>
        <p>Count blocks - up to 100 (K-E.9)</p>
      </div>
      <div id="mat1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="mat2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="mat3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div id="mat4" class="tab-pane fade">
        <h3>Menu 4</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="mat5" class="tab-pane fade">
        <h3>Menu 5</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="mat6" class="tab-pane fade">
        <h3>Menu 6</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>
</div>
<div id="section3" class="container-fluid">
  <div class="container">
    <h2>Science</h2>
    <p>Please Select a grade level to view the standards!</p>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#scik">Kindergarten</a></li>
      <li><a data-toggle="tab" href="#sci1">First</a></li>
      <li><a data-toggle="tab" href="#sci2">Second</a></li>
      <li><a data-toggle="tab" href="#sci3">Third</a></li>
      <li><a data-toggle="tab" href="#sci4">Fourth</a></li>
      <li><a data-toggle="tab" href="#sci5">Fifth</a></li>
      <li><a data-toggle="tab" href="#sci6">Sixth</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="scik" class="tab-pane fade in active">
        <h3>science Stuff thats totally not math</h3>
        <b>K.NS.1 Count to at least 100 by ones and tens and count on by one from any number.</b>
        <p>Count up - up to 20 (K-D.7)</p>
        <p>Count forward - up to 20 (K-D.12)</p>
        <p>Count blocks - up to 20 (K-D.16)</p>
        <p>Count tens and ones - up to 20 (K-D.17)</p>
        <p>Count on ten frames - up to 30 (K-E.1)</p>
        <p>Count groups of ten (K-E.2)</p>
        <p>Count to 100 (K-E.3)</p>
        <p>Count blocks - up to 30 (K-E.6)</p>
        <p>Count tens and ones - up to 30 (K-E.7)</p>
        <p>Count blocks - up to 100 (K-E.9)</p>
      </div>
      <div id="sci1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="sci2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="sci3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div id="sci4" class="tab-pane fade">
        <h3>Menu 4</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="sci5" class="tab-pane fade">
        <h3>Menu 5</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="sci6" class="tab-pane fade">
        <h3>Menu 6</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>
</div>
<div id="section4" class="container-fluid">
  <div class="container">
    <h2>Social Studies</h2>
    <p>Please Select a grade level to view the standards!</p>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#sock">Kindergarten</a></li>
      <li><a data-toggle="tab" href="#soc1">First</a></li>
      <li><a data-toggle="tab" href="#soc2">Second</a></li>
      <li><a data-toggle="tab" href="#soc3">Third</a></li>
      <li><a data-toggle="tab" href="#soc4">Fourth</a></li>
      <li><a data-toggle="tab" href="#soc5">Fifth</a></li>
      <li><a data-toggle="tab" href="#soc6">Sixth</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="sock" class="tab-pane fade in active">
        <h3>Social Studies Stuff thats totally not math</h3>
        <b>K.NS.1 Count to at least 100 by ones and tens and count on by one from any number.</b>
        <p>Count up - up to 20 (K-D.7)</p>
        <p>Count forward - up to 20 (K-D.12)</p>
        <p>Count blocks - up to 20 (K-D.16)</p>
        <p>Count tens and ones - up to 20 (K-D.17)</p>
        <p>Count on ten frames - up to 30 (K-E.1)</p>
        <p>Count groups of ten (K-E.2)</p>
        <p>Count to 100 (K-E.3)</p>
        <p>Count blocks - up to 30 (K-E.6)</p>
        <p>Count tens and ones - up to 30 (K-E.7)</p>
        <p>Count blocks - up to 100 (K-E.9)</p>
      </div>
      <div id="soc1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="soc2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="soc3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div id="soc4" class="tab-pane fade">
        <h3>Menu 4</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="soc5" class="tab-pane fade">
        <h3>Menu 5</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="soc6" class="tab-pane fade">
        <h3>Menu 6</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>
</div>
<div id="section5" class="container-fluid">
  <div class="container">
    <h2>English</h2>
    <p>Please Select a grade level to view the standards!</p>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#engk">Kindergarten</a></li>
      <li><a data-toggle="tab" href="#eng1">First</a></li>
      <li><a data-toggle="tab" href="#eng2">Second</a></li>
      <li><a data-toggle="tab" href="#eng3">Third</a></li>
      <li><a data-toggle="tab" href="#eng4">Fourth</a></li>
      <li><a data-toggle="tab" href="#eng5">Fifth</a></li>
      <li><a data-toggle="tab" href="#eng6">Sixth</a></li>
    </ul>
  
    <div class="tab-content">
      <div id=engk" class="tab-pane fade in active">
        <h3>English Stuff thats totally not math</h3>
        <b>K.NS.1 Count to at least 100 by ones and tens and count on by one from any number.</b>
        <p>Count up - up to 20 (K-D.7)</p>
        <p>Count forward - up to 20 (K-D.12)</p>
        <p>Count blocks - up to 20 (K-D.16)</p>
        <p>Count tens and ones - up to 20 (K-D.17)</p>
        <p>Count on ten frames - up to 30 (K-E.1)</p>
        <p>Count groups of ten (K-E.2)</p>
        <p>Count to 100 (K-E.3)</p>
        <p>Count blocks - up to 30 (K-E.6)</p>
        <p>Count tens and ones - up to 30 (K-E.7)</p>
        <p>Count blocks - up to 100 (K-E.9)</p>
      </div>
      <div id="eng1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="eng2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="eng3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div id="eng4" class="tab-pane fade">
        <h3>Menu 4</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="eng5" class="tab-pane fade">
        <h3>Menu 5</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="eng6" class="tab-pane fade">
        <h3>Menu 6</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
